target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/
!**/src/main/resources/data/
/data/
*.class
*.pyc

# IDE files
.classpath
.project
.settings/
.idea/
*.iml
*.iws

# System files
.DS_Store
Thumbs.db
bin/
*.log
